APP_NAME="Practica 15"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://tu-dominio.com

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=tienda_prod
DB_USERNAME=tienda
DB_PASSWORD=password_segura_aqui

CACHE_STORE=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis
BROADCAST_CONNECTION=reverb

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

REVERB_APP_ID=1
REVERB_APP_KEY=tu-reverb-key
REVERB_APP_SECRET=tu-reverb-secret
REVERB_HOST=tu-dominio.com
REVERB_PORT=8080
REVERB_SCHEME=https
